.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.centered {
	text-align: center;
}

#mainHeader,
.workDetails {
	font-family: "Aleo-Bold";
	background-color: #373737;
	color: #9b9b9b;
}

.aboutContainer #aboutUX {
	font-family: "Cavorting";
	background-color: #303030;
	color: #4e4e4e;
}

.aboutContainer #aboutUI {
	font-family: "Abel";
	background-color: #272727;
	color: #ffffff;
}

.aboutContainer #aboutDEV {
	font-family: "PT Mono";
	background-color: #272727;
	color: #f8f8f2;
}

.aboutContainer #aboutFUN {
	font-family: "Aleo-Bold";
	background-color: #303030;
	color: #9b9b9b;
}

#allWorks {
	background-color: #373737;
	color: #ffffff;
}

#mainHeader header {
	font-size: 35px;
	color: white;
}

#headerSocial {
	background-color: #848484;
}

#footerNav {
	background-color: #f7f7f7;
}

#mainHeader h2 {
	font-size: 26px;
}

#mainHeader h1 {
	color: white;
}

#headerSocial img, 
#headerSocial svg, 
#footerNav svg,
#footerNav img {
	width: 28px;
	height: 28px;
}

#cvPdf svg {
	width: 36px;
	height: 36px;
}

#homeNavContainer,
#aboutNavContainer,
#workNavContainer,
.banner,
.bannerText {
	cursor: pointer;
}

#homeNavContainer:hover #homeIcon path,
#aboutNavContainer:hover #aboutIcon path,
#workNavContainer:hover #workIcon path {
	fill: #073763;
}

#homeNavContainer:hover .titleIcon,
#aboutNavContainer:hover .titleIcon,
#workNavContainer:hover .titleIcon {
	color: #073763;
	font-weight: bold;
}

.blankImage {
	width: 36px;
	height: 36px;
	display: inline-block;
}

.blankImage, 
.uxListItem {
	display: inline-block;
	vertical-align: middle;
}

.uxListItem {
	width: calc(100% - 46px);
}

.toolContainer {
	margin: 10px 0;
	vertical-align: middle;
}

.col-xs-9.rating,
.rating {
	height: 20px;
	padding: 0;
	margin: auto;
  	position: absolute;
  	top: 0; 
  	left: 25%; 
  	bottom: 0; 
  	right: 0;
}

.progress {
	height: 24px;
	background-image: url(../png/progress.png);
	background-size: auto 100%;
	background-position: right top;
	margin: 0;
}

.progressBox {
	width: 100%;
	border: solid 2px #4e4e4e;
	height: 100%;
	position: absolute;
	top: 0;
}

.progress.expert {
	width: 90%;
}

.progress.high {
	width: 80%;
}

.progress.mediumgood {
	width: 65%;
}

.toolList {
	padding: 0 !important;
}

.bubbleContainer {
	height: 100%;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
}

.bubble {
	border: solid 1px #9e9e9e;
	border-radius: 30px;
	height: 38px;
	width: 38px;
	padding: 0;
    margin: 5px;
    line-height: 38px;
    color: #9e9e9e;
}

.bubble.selected {
	border: solid 2px #4273e0;
	color: #4273e0;
	font-weight: bold;
}

/*.bubble::after{
  content: '';
  position: absolute;
  top: 24px;
  left: 57px;
  width: 50%;
  height: 3px;
  background: dodgerblue;
  z-index: -1;
}*/

#aboutUI h2 {
	font-size: 170%;
	text-align: center;
	margin-top: 15px;
}

.empathize {
	color: #ffffff;
}

.roundedPicture {
	width: 48px;
    border-radius: 24px;
    margin: 7px 0;
}

#aboutDEV h2 {
	font-size: 110%;
	text-align: center;
	margin-top: 15px;
}

.syntaxPink {
	color: #f92672;
}

.syntaxPurple {
	color: #ae81ff;
}

.syntaxBlue {
	color: #66d9ef;
}

.syntaxDarkBlue {
	color: #0808bd;
}

.syntaxGreen {
	color: #a6e22e;
}

.syntaxGray {
	color: #666;
}

.syntaxYellow {
	color: #ffe792;
}

.syntaxOrange {
	color: #fd971f;
}

.sidebar {
	font-family: "DejaVu Sans Mono", monospace;
    font-size: 12px;
    float: left;
    width: 30px;
    border-right: 1px solid #3B3A32;
    margin-right: 10px;
    color: #666;
}

.lineNumber {
	line-height: 20px;
}

#myHtml, 
#myJavascript,
#myCSS {
	margin: 10px 0;
}

#aboutFUN h2 {
	font-size: 160%;
}

.thumbnail img {
	transition: all ease-in 500ms;
	vertical-align: middle;
}

.thumbnail img:hover{
	transform: scale(1.3,1.3);
	cursor: pointer;
}

.eqHeight {
	display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.thumbnail {
	max-height: 120px;
   /* overflow: hidden;*/  /* TODO hidden for image, not hidden for post it */
}

#footerHide {
	height: 48px;
}

.proTag, 
.persoTag {
	width: 50px;
	background-color: #f9ee78;
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 9;
	-moz-box-shadow: -5px 5px 4px 0px #343434;
	-webkit-box-shadow: -5px 5px 4px 0px #343434;
	-o-box-shadow: -5px 5px 4px 0px #343434;
	box-shadow: -5px 5px 4px 0px #343434;
	text-align: center;
	color: #656565;
}

.banner {
	position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 100%;
    background-color: #848484;
    opacity: 0.8;
    text-align: center;
}

.bannerText {
	position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 125%;
    line-height: 20px;
}

.innerThumbnail {
	overflow: hidden;
    height: 100%;
}

.innerThumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.workDetails,
.workDetails.col-xs-12 {
	min-height: calc(100% - 48px);
}

.workDetails h2, 
.workDetails .keyword {
	color: #ffffff;
}

.workPara {
	margin-bottom: 25px;
}

.workCategory {
	color: #a6e22e;
	margin-right: 20px;
}

.workStepTitle {
	color: #8bc34a;
}

.headerLogo {
	max-width: 120px;
	margin-bottom: 20px;
}

.workStep {
	padding-left: 30px;
}

.workStep li {
	margin: 15px 0;
}

#detailsStudec .headerLogo {
	background: white;
}

#paperContainer {
	height: calc(100% - 25px);
	background: url(../png/sheet-paper.png) no-repeat -50px -20px;
	padding: 6px 15px 15px 15px;
	margin-top: 10px;
}

#tapeLeft,
#tapeRight {
	position: absolute;
	width: 50px;
}

#tapeLeft {
	left: 0;
}

#tapeRight {
	right: 0;
}

.linkToOtherWork {
	font-family: "Aleo-Bold";
    background-color: #373737;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}

.otherWork {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.chevronUp {
	margin-bottom: -10px;
}

.chevronDown {
	margin-top: -10px;
}

.workGallery {
	font-family: "Aleo-Bold";
	background-color: #131313;
}

.galeryTitle {
	background-color: #373737;
    font-size: 150%;
}

.workGallery img {
	max-width: 100%;
	margin: 10px 0;
	padding: 0 15px;
	cursor: pointer;
}

.imgContainer {
	width: 48%;
	display: inline-block;
	vertical-align: bottom;
}

.imgContainer.smaller {
	width: 32%;
}

.thumbnail a,
.thumbnail a:active,
.thumbnail a:focus,
.thumbnail a:visited {
	color: #ffffff;
}

.thumbnail a:hover {
	color: #fd971f;
}

.linkToOtherWork a,
.linkToOtherWork a:active,
.linkToOtherWork a:focus,
.linkToOtherWork a:visited {
	color: #ffffff;
	text-decoration: none;
}

.nextWork a:hover,
.previousWork a:hover {
	color: #a6e22e;
	text-decoration: none;
}

.itemUI {
	font-size: 120%;
	margin-top: 56px;
}

.itemUI * {
	display: inline-block;
	vertical-align: top;
}

.itemUI div {
	max-width: calc(100% - 60px);
	padding-left: 10px;
}

.breakOverflow {
	overflow-x: hidden;
}

#imgGalleryDialog {
	max-width: 100%;
}

#modalGallery .modal-dialog {
	max-height: 84%;
	top: 40%;
    transform: translateY(-48%);
}

#modalGallery .modal-body {
	text-align: center;
	padding: 10px;
}

#modalGallery .modal-footer, 
#modalGallery .modal-header {
	padding: 8px 12px;
}

.modal-backdrop.in {
	opacity: 0.85 !important;
}